<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
</head>
<body>
    <div th:object="${event}">
        <h1 th:text="*{name}"></h1>
        <h1 th:text="*{description}"></h1>
        <h1 th:text="*{category}"></h1>
        <h1 th:text="*{creatorUsername}"></h1>
        <h1 th:text="*{attendeesCount}"></h1>
        <h1 th:text="*{startDate}"></h1>
        <h1 th:text="*{startTime}"></h1>
        <h1 th:text="*{ticketPrice}"></h1>
        <img th:src="*{coverPictureUrl}">
    </div>
    <form th:action="@{/events/{eventId}/signup(eventId=${eventId})}" th:method="post">
        <input type="submit" value="Sign up">
    </form>
    <form th:action="@{/events/{eventId}/signout(eventId=${eventId})}" th:method="post">
        <input type="submit" value="Sign out">
    </form>
</body>
</html>